{% extends 'base.html.twig' %}

{% block title %}
	Séries de la catégorie
	{{ category.name }}
{% endblock %}

{% block body %}

	<h1>
		Séries de la catégorie
		{{ category.name }}
		:
	</h1>

	<div class="row d-flex flex-row">
		{% for program in programs %}
			<div class="card m-3 col-5 ">

				<div class="card-body">
					<h5 class="card-title">{{ loop.index }}
						/
						{{ program.title }}</h5>
					<p class="card-text">{{ program.synopsis }}</p>
					<p class="card-text">
						<small class="text-muted">Catégorie :
							{{ category.name }}</small>
					</p>
					<a href="{{ path("program_show", { slug: program.slug }) }}" class="btn btn-primary btn-lg active">Voir la fiche</a>
				</div>
			</div>

		{% else %}
			Aucune série trouvée.
		{% endfor %}
	</div>

	<a href="{{ path('category_index') }}" class="btn btn-primary btn-lg active">
		Retour à la liste des catégories
	</a>
{% endblock %}
