{% extends 'base.html.twig' %}

{% block title %}Episode #
	{{ episode.season.number }}
	.
	{{ episode.number }}
	de
	{{ program.title }}
{% endblock %}

{% block body %}



	<h1 class="mt-0">
		{{ program.title }}
		- Saison
		{{ episode.season.number }}
		. Episode #
		{{ episode.number }}
	</h1>
	<div class="media bg-light">

		<div class="media-body m-3 p-3 ">
			<strong>Titre:</strong>
			<h2>
				{{ episode.title }}
			</h2>
			<strong>Description:</strong>
			<p>
				{{ episode.synopsis }}
			</p>
			<strong>Durée:</strong>
			<p>
				{{ episode.duration }}
				minutes
			</p>

		</div>
	</div>


	<a href="{{ path('program_index') }}" class="btn btn-primary btn-lg active">
		Retour à la liste des programmes
	</a>

	{% if app.user %}
		<div class="media bg-light">

			<div class="media-body m-3 p-3 ">
				<strong>
					Donnez votre avis :
				</strong>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}

			</div>
		</div>
	{% endif %}

	{% for comment in episode.comments %}
		<div>
			<h3>From: {{ comment.author.email }}</h3>
			<p>{{ comment.comment }}</p>
			<p>Note: {{ comment.rate }}</p>
		</div>
	{% else %}
		No comments found.
	{% endfor %}

{% endblock %}
