{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media bg-light">
		<img class="w-25 align-self-start m-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body m-3">
			<h1 class="mt-0">{{ program.title }}</h1>
			<p>{{ program.synopsis }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
		</div>
	</div>
	<div class="media bg-secondary">
		{% for season in program.seasons %}
			<ul class="list-group col-md-6 offset-md-3 mt-3 mb-3">
				<a href="{{ path("program_season_show", { programId: program.id ,  seasonId: season.id }) }}" class="list-group-item">
					Saison
					{{ season.number }}
					/
					{{ season.year }}
				</a>
			</ul>
		{% endfor %}
	</div>

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
